@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    background-image: url("../Assets/Rectangle 599.png");
    /* padding-left: 1rem; */
    padding: 2rem;
    /* border: 2px solid black; */
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
      position: relative;
    z-index: 10;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links, ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links li {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
}



.login{
    background-color: #CBFFD0;
    border: none;
    font-size: 1.2rem;
    font-weight: 450;
    padding: .7rem 2.6rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.signup{
    background-color: #26A69A;
    border: none;
    font-size: 1.2rem;
    font-weight: 450;
    padding: .7rem 2.6rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.hero{
    display: flex;
    margin-top: 6rem;
    width: 100%;
    /* overflow: hidden; */
}

.text{
    width: 50%;
    /* border: 2px solid red; */
}

.text>h1{
    font-size: 2.8rem;
    font-weight: 700;
}
.text>p{
    font-size: 1.3rem;
    font-weight: 650;
    line-height: 1.7;
}

.right-1{
    width: 50%;
}

.btn1{
    display: flex;
    margin-top: 7rem;
}

.btn-container{
    display: flex;
    margin-right: 3rem;
    background-color: black;
    color: white;
    align-items: center;
    border-radius: 10px;
    padding: .4rem 1rem;
}

.btn-text>p{
    font-size: .7rem;
    line-height: .7;
}

.btn-image{
    margin-right: 1rem;
}


.btn-text>h1{
    font-size: 1.3rem;
    font-weight: 600;
}

.right-1{
    position: relative;
    /* width:100%; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.right-1>img{
    position: relative;
    z-index: 2;
}

.right-1-overlay{
     position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50% 0% 0% 0%;
    background-color: #CBFFD0;
     width: 500px;
     height: 600px;
    z-index: 1;
}

.Features{
    display: flex;
    width: 100%;
    
}

.l-features{
    width: 40%;
}

.r-features{
    width: 60%;
    border: 2px solid black;
}
.r-features>h1{
    padding-left: 4.8rem;
    padding-top: 2rem ;
    padding-bottom: 2rem;
}

.boxes-features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    height: 300px;
    width: 320px;
    padding: .8rem 2rem;
    border-radius: 27px;
    margin-bottom: 7rem;
    overflow: hidden;
}

.box>p{
    font-size: 1.3rem;
}

.box-1{
    background-color: #CBFFD0;
}

.box-2{
    background-color: #26A69A;
}

.box-3{
    background-color: #26A69A;
}

.box-4{
    background-color: #CBFFD0;
}